print('snngc - sistema nacional de navegação da guarda costeira'.upper())

ins1 = 'bruno'
ins2 = 'carlos'
ins3 = 'natalia'
ins4 = 'cesar'
ins5 = 'caio'
ins6 = 'sofia'

usuario = input(print('Digite seu usuario: '))
senha = int(input(print('Digite sua senha: ')))

if usuario != 'bruno':
    print('usuario incorreto')
elif senha != 123:
    print('senha incorreta')
else: 
    print('acesso permitido')
    
while 'esc' != '4':
    esc = input(print('De qual setor gostaria de entrar?\n1 - navios\n2 - rotas\n3 - funcionarios\n4 - sair '))

    if esc == '1':
        print('Atena - Ativo\nMeniac - Em rota\nSafira - Manutenção\nJade - Ativo\nJasmin - Ativo\nKatrina - Em rota')
    elif esc == '2':
        print('Meniac\nEm rota para Australia\n \nKatrina\nEm rota para Italia')
    elif esc == '3':
        print(ins1,'\n',ins2,'\n',ins3,'\n',ins4,'\n',ins5,'\n',ins6,'\n')
    else:
        print('Obrigado!')
        break
